*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkslategray;
}
strong{
    color: red;
}
/* Heading Section  */
h2{
    background-color: darkolivegreen;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
/* Heading Section End*/

/* Individual form Section  */

/* Application type Section */
#ApplicationType{
    width: 100%;
    display: flex;
    gap: 60px;
    padding: 30px;
    justify-content: center;
    background-color: darkslategray;
    margin-top: 0px;
    border: inset;
    border-bottom: 5px solid blue;
}
#ApplicationType h3{
   color: white;
}
#ApplicationType div{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
/* Application Type Section End */

/* IndividualFormcontainer */
#IndividualFormcontainer{
    background-color: darkslategray;
    
}

/* Player Name Section */
#NameSection{
   margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 60px;
    padding: 30px;
    justify-content: center;
    background-color: darkslategray;
    color: white;
 
}
#NameSection label{
    font-weight: bolder;
    font-size: 20px;

}
#NameSection input{
    width: 250px;
    text-align: center;
    padding: 2px 0px;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5px;
} 
/* Player Name Section End */

/* Email Section */
#EmailSection{
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    background-color: darkslategray;
    color: white;
}
#EmailSection label{
    font-size: 25px;
    margin-right: 20px;
}
#EmailSection input{
    text-align: center;
    width: 450px;
    padding: 5px 0px;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5px;
}
/* Email Section End */

/* Game Section */
#gameSection{
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    color: white;
}
#gameSection p{
    font-weight: bolder;
    font-size: 20px;
    color: yellowgreen;
}
#gameSection select{
    padding: 20px;
    font-size: 15px;
    font-weight: bolder;
    width: 200px;
    height: 100px;
}
/* Game Section End */

/* Button Section  */
#buttonSection{
    margin-top: 0px;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    background-color: darkslategray;
    border: inset;
    color: white;
}
#buttonSection button{
    width: 400px;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}
#buttonSection button:hover{
    cursor: pointer;
    border: 3px solid white;
    color: white;
    background:transparent;
    transform: scale(0.9);
}
/* ButtonSectionEnd */

/* Individual form Section  */


/* TeamFormContainer start */
#TeamFormContainer{
    height: 500px;
    background-color: darkslategray;
    display: none;
}
.TeamNameSection{
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 60px;
    padding: 30px;
    justify-content: center;
    background-color: darkslategray;
    color: white;
}
.TeamNameSection{
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 60px;
    padding: 30px;
    justify-content: center;
    background-color: darkslategray;
    color: white;
}

.TeamNameSection label{
    font-weight: bolder;
    font-size: 20px;

}
.TeamNameSection input{
    width: 300px;
    text-align: center;
    padding: 2px 0px;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5px;
}
#LogoSection{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    color: white;
    border: inset;

}
#LogoSection label{
    font-weight: bolder;
    font-size: 30px;
    margin-right: 1000px;
}
#LogoSection input{
    width: 300px;
    text-align: center;
    padding: 2px 0px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
}
.PlayerNameSection{
    margin-top: 10px;
    width: 100%;
    display: inline-flex;
    gap: 60px;
    padding: 30px;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    border: inset;
}
 .PlayerNameSection label{
     font-weight: bolder;
     font-size: 20px;
 
 }
 .PlayerNameSection input{
     width: 250px;
     text-align: center;
     padding: 2px 0px;
     font-weight: bolder;
     font-size: 15px;
     border-radius: 5px;
 } 
 .SaveButtonSection button{
    width:150px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    font-weight: bolder;
    border-radius: 10px;
    transition: all 1s ease-in-out;
 }
 .SaveButtonSection button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transform: scale(0.8);
 }

 #ShowPlayer{
    display: none;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: darkslategray;
    border: inset;
   width: 70%;
   margin: 0px auto;
   height:fit-content;
    color: white;
    font-weight: bold;
 }
 #ShowPlayer h3{
    width: 100%;
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid red;
    margin-bottom: 5px;
 }
 #ShowDetails{
    display: none;
    margin-top: -10px;
 }
 